.service-wrap {
	.service-content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		.content-wrap {
			padding: 50px 30px;
			border-right: 1px solid lightgray;
			.icon-wrap {
				max-width: 50px;
				margin: 0 auto;
				img {
					filter: opacity(0.7);
				}
			}
			.text-content {
				text-align: center;
				margin-top: 30px;
				.title {
					font-family: $heading-font;
					width: fit-content;
					margin: 0 auto;
					font-size: 18px;
					font-weight: 600;
					color: $brand-color;
					padding-bottom: 15px;
					margin-bottom: 25px;
					border-bottom: 1px solid lightgrey;
				}
				.description {
					max-width: 250px;
					margin: 0 auto;
					font-family: $content-font;
					font-size: 14px;
					color: $text-color2;
					font-weight: 500;
					line-height: 26px;
				}
			}
			&:nth-child(1) {
				border-bottom: 1px solid lightgray;
			}
			&:nth-child(2) {
				border-bottom: 1px solid lightgray;
			}
			&:nth-child(3) {
				border-bottom: 1px solid lightgray;
				border-right: none;
			}
			&:nth-child(6) {
				border-right: none;
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	.service-wrap {
		.service-content {
			grid-template-columns: 1fr 1fr;
			.content-wrap {
				&:nth-child(2) {
					border-right: none;
				}
				&:nth-child(3) {
					border-right: 1px solid lightgray;
				}
				&:nth-child(4) {
					border-right: none;
					border-bottom: 1px solid lightgray;
				}
			}
		}
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.service-wrap {
		.service-content {
			.content-wrap {
				padding: 30px 25px;
				.text-content {
					.title {
						font-size: 16px;
						margin-bottom: 20px;
					}
					.description {
						line-height: 24px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.service-wrap {
		.service-content {
			grid-template-columns: 1fr;
			.content-wrap {
				padding: 30px 20px;
				border: none !important;
				// border-bottom: 1px solid lightgray !important;
			}
		}
	}
}

@media only screen and (max-width: 375px) {
	.service-wrap {
		.service-content {
			.content-wrap {
				padding: 20px;
				.text-content {
					.title {
						margin-bottom: 15px;
					}
					.description {
						line-height: 24px;
					}
				}
			}
		}
	}
}
