/*Heading Font*/
$content-font: 'Raleway', sans-serif;
$heading-font: 'Montserrat', sans-serif;

/*White-Color-theme*/
$brand-color: #2c2c2c;
$brand-color2: #f2f2f2;
$text-color: #525252;
$text-color2: #616161;
